<html>
<head>

<title> 

Busqueda de Libro

</title>


</head>
<body>
        <h1>
            BOOKFLIX
        </h1>
        <h2>
            Estas buscando: <strong>{{que}}</strong> 
        </h2>

        {% if resul %}
            <p>Libros encontrados: {{resul|length}}</p>
            <ul>
                {% for each in resul %}
                    <li>
                        <a href="pdf/%s"%{{each.pdf}}>{{each.titulo}}</a>
                    </li>
                    
                {% endfor %}
                
            </ul>
        {% else %}
            <p>Su busqueda no retorno resultados</p>
        {% endif %}
</body>

</html>